.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/misc.xml
.idea/vcs.xml
.idea/encodings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
.idea/misc.xml
*.apk
.idea/.name
.idea/.name
.idea/gradle.xml
.idea/modules.xml
app/app.iml
.idea/.name
.idea/gradle.xml
.idea/runConfigurations.xml
spotify-streamer.iml
.idea/vcs.xml
.idea/.name
.idea/gradle.xml
app/app.iml
app/app.iml
